<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestCaseFilter>TestCategory!=TimingSensitive</TestCaseFilter>
  </RunConfiguration>
  <MSTest>
    <!-- Disable or tune parallelization here -->
    <DisableParallelization>true</DisableParallelization>
  </MSTest>
</RunSettings>
