<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <RunConfiguration>
    <TestCaseFilter>TestCategory!=TimingSensitive</TestCaseFilter>
  </RunConfiguration>
  <MSTest>
    <!-- Disable or tune parallelization here -->
    <Parallelize>
      <DisableParallelization>true</DisableParallelization>
      <Scope>ClassLevel</Scope>
    </Parallelize>
  </MSTest>
</RunSettings>
